{% extends "./includes/base.html" %}

{% block title %}
index_courses
{% endblock %}

{% block content %}

       


<h1 class="ui dividing header" >Course List</h1>
<a href="{{ url_for('add_course') }}">Add Course</a>
<table class="ui single line table">
    <thead>
        <td>ID</td>
        <td>Course Name</td>
        <td>Starwat Date</td>
        <td>End date</td>
        <td>Odpwerations</td>
    </theaddw>
{% for course in courses %}
<tr>
   <td class="selectable">{{course["c_id"]}}
   </td>
   <td>{{ course['c_name'] }}</td>
   <td>{{ course['start_date'] }}</td>
   <td>{{ course['end_date'] }}</td>

   <td></td>
</tr>
<table>
    {% endfor %}
    <a href="{{ url_for('home') }}">Go Back to Home Page</a>
{% endblock %}